---
import icon from "../../assets/svg/americana.svg";
---

<div>
  <div class="px-6 py-10 sm:px-6 sm:py-20 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <div class="flex justify-center mb-6">
        <img alt="Your Company" class="h-20 w-auto" src={icon.src} />
      </div>
      <h2>Small business values. Big customer impact.</h2>
      <p class="mx-auto mt-6 max-w-3xl">
        At ION Group, each company under our umbrella delivers exceptional while
        sharing a commitment to innovation, quality, and client success. Enjoy
        streamlined access to exceptional business services and supports.
      </p>
    </div>
  </div>
</div>
