<!-- HTML Structure -->
<a href="/test" class="nav-link">facility services</a>
<a href="#" class="nav-link">print & Promotional</a>
<a href="#" class="nav-link">marketing</a>

<!-- Tailwind @apply styles -->
<style>
    @import "tailwindcss";
    .nav-link {
        @apply text-sm/6 font-medium text-slate-50 capitalize;
    }

    .nav-link:hover {
        @apply underline;
    }
</style>
