<div class="space-y-2 py-6">
    <a href="#" class="nav-link">Product</a>
    <a href="#" class="nav-link">Features</a>
    <a href="#" class="nav-link">Marketplace</a>
    <a href="#" class="nav-link">Company</a>
</div>
<div class="py-6">
    <a href="#" class="login-link">Log in</a>
</div>
<style>
  @import "tailwindcss";
    .nav-link {
      @apply -mx-3 block rounded-lg px-3 py-2 text-base leading-7 font-semibold text-gray-700 hover:bg-gray-200;
    }
    
    .login-link {
      @apply -mx-3 block rounded-lg px-3 py-2.5 text-base leading-7 font-semibold text-gray-700 hover:bg-gray-200;
    }
  </style>