---
import '../styles/global.css';
interface Props {
  title: string;
  description: string;
}
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>IONGroup</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="anonymous" />
	</head>
	<body>
		<slot />
	<!-- HubSpot Chat Snippet -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9018659.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
